# Supabase Configuration
SUPABASE_URL=https://zuondbguopirimvfuehu.supabase.co
SUPABASE_KEY=sb_publishable_29SdlPI3zzDkNvvEO38kOQ_2NTwiTC_

# GitHub Configuration
GITHUB_TOKEN=your_new_token_here
GITHUB_OWNER=Handreswes
GITHUB_REPO=ERP-AC
